/* reset css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

html, body {
    font: 16px 'Open Sans',sans-serif;/*root*/
    margin:0;
    background: linear-gradient(to bottom left, #2699FB,#FFF) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

h1,h2,h3,p,ul{
    font-weight: 100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*{
    box-sizing: border-box;
}
.Header {
  margin: 0 auto;
  padding:0;
  max-width: 400px;
  width: 100%;
}
.logo {
  display: block;
  margin: 0 auto 20px;
}
.arrow{
  margin: 20px auto 0;
  width: 40px;
}

.Bienvenue>h1 {
  text-align: center;
}

.formulaire, .Bienvenue, .App {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

input {
  width:100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
}
input::placeholder {
  color:#2699FB;
}

input:focus, .box:focus
{
  outline-style: none;
  outline: none;
}

.box {
  vertical-align: top;
  height: 2.5em;
  color:#000;
}


.button{
  width: 100%;
  background-color: #2699FB;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px 2px 0px;
  cursor: pointer;
  border-radius: 15px;
}

.button:focus {
  background-color: #51AEFE;
  outline-style: none;
}

p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dejamembre {
  text-align: right;
}

a {
  text-decoration: underline;
  color: #2699FB;
}

.createevent>h1 {
  text-align: center;
  padding-bottom: 10px;
}

select {
  width: 100%;
  background-color: #2699FB;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px 2px 0px;
  cursor: pointer;
}

.googlemap{
  width:'100vh';
  height:'100vw'
}
